*.user
*.cbp
*.a
*.mfh
*.o
moc_*
testapp/Makefile
testapp/testapp
ui_*
*.ko
*.o.cmd
*.ko.cmd
*.mod.c
.tmp_versions
*.symvers
*.so
*.order
test2/test2
Makefile
.build
.qmake.stash
extras/
tests/standarddialogs/standarddialogs
